
# Example override values file.
# Make sure to regenerate passwords and secrets.

openopsEnv:
  OPS_PUBLIC_URL: "https://openops.example.com"
  OPS_OPENOPS_ADMIN_EMAIL: openops@example.com
  OPS_OPENOPS_ADMIN_PASSWORD: 9wqhK7jehmxAQlre
  OPS_ENCRYPTION_KEY: 7de996f020438444dc2c79e9b843805d
  OPS_JWT_SECRET: M72yCOp9riLjIDws
  OPS_POSTGRES_PASSWORD: WZKUM0tSvFC6VWai
  OPS_REDIS_PASSWORD: xK9mPq2nR8vL5wJ4
  OPS_ANALYTICS_ADMIN_PASSWORD: 7YO7YEVRaECPQimI
  ANALYTICS_POWERUSER_PASSWORD: v5vIvwhdBDWwx4el

# Tables needs more memory during initial migrations
tables:
  resources:
    requests:
      memory: "1Gi"
      cpu: "500m"
    limits:
      memory: "2Gi"
      cpu: "1000m"

ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
    - host: openops.example.com
      paths:
        - path: /
          pathType: Prefix
          serviceName: nginx
          servicePort: 80
  tls:
    - hosts:
        - openops.example.com
      secretName: openops-tls
  tlsConfig:
    enabled: true

