#############################################
# Helm chart artifacts
#############################################
*.tgz
chart/charts/

#############################################
# IDE / OS files
#############################################
.DS_Store
.idea/
.vscode/
