{{- $root := . -}}
{{- $analyticsConfig := dict -}}
{{- range $k, $v := .Values.analytics.env }}
{{- if eq (include "openops.isSecretKey" $k) "false" }}
{{- $_ := set $analyticsConfig $k (tpl (tpl $v $root) $root) }}
{{- end }}
{{- end }}
{{- if gt (len $analyticsConfig) 0 }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.analytics.name }}-config
  labels:
    {{- include "openops.componentLabels" (dict "root" . "component" "analytics") | nindent 4 }}
data:
{{- range $k, $v := $analyticsConfig }}
  {{ $k }}: {{ $v | quote }}
{{- end }}
{{- end }}
