{{- $root := . -}}
{{- $tablesConfig := dict -}}
{{- range $k, $v := .Values.tables.env }}
{{- if eq (include "openops.isSecretKey" $k) "false" }}
{{- $_ := set $tablesConfig $k (tpl (tpl $v $root) $root) }}
{{- end }}
{{- end }}
{{- if gt (len $tablesConfig) 0 }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.tables.name }}-config
  labels:
    {{- include "openops.componentLabels" (dict "root" . "component" "tables") | nindent 4 }}
data:
{{- range $k, $v := $tablesConfig }}
  {{ $k }}: {{ $v | quote }}
{{- end }}
{{- end }}
