apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.postgres.name }}-headless
  labels:
    {{- include "openops.componentLabels" (dict "root" . "component" "postgres") | nindent 4 }}
spec:
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
  - port: {{ .Values.postgres.service.port }}
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    {{- include "openops.componentSelectorLabels" (dict "root" . "component" "postgres") | nindent 4 }}
