apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.engine.name }}
  labels:
    {{- include "openops.componentLabels" (dict "root" . "component" "engine") | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 3005
    targetPort: 3005
    protocol: TCP
    name: http
  selector:
    {{- include "openops.componentSelectorLabels" (dict "root" . "component" "engine") | nindent 4 }}