apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.app.name }}
  labels:
    {{- include "openops.componentLabels" (dict "root" . "component" "app") | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    {{- include "openops.componentSelectorLabels" (dict "root" . "component" "app") | nindent 4 }}
