apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.analytics.name }}
  labels:
    {{- include "openops.componentLabels" (dict "root" . "component" "analytics") | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 8088
    targetPort: 8088
    protocol: TCP
    name: http
  selector:
    {{- include "openops.componentSelectorLabels" (dict "root" . "component" "analytics") | nindent 4 }}